h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;

  &:hover {
    color: #666;
    background-color: #f9f9f9;
    border-bottom-color: #999;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 767px) {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
  }
}
.non-h3 {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
/* Style for the hide H3 button */
.mat-raised-button.hide-button {
  background-color: #f44336; /* Change this to your desired color */
  color: white;
  font-size: 14px;
  padding: 8px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 8px;
}

.mat-raised-button.hide-button:hover {
  background-color: #e53935; /* Change this to your desired color */
}

/* Style for the show H3 button */
.mat-raised-button.show-button {
  background-color: #2196f3; /* Change this to your desired color */
  color: white;
  font-size: 14px;
  padding: 8px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.mat-raised-button.show-button:hover {
  background-color: #1976d2; /* Change this to your desired color */
}
